<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    id: <input type="text" name="id" class="form-control"> <br>
    pw: <input type="password" name="password" class="form-control"> <br>
    <button class="w-100 btn btn-secondary btn-lg" type="submit">로그인</button>
    <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/join}'|" type="button">회원가입</button>
</form>
</body>
</html>