<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 상세</h2>
    </div>
    <div>
        <label for="memberSeq">회원 번호</label>
        <input th:value="${member.sequence}"
               type="text" id="memberSeq" class="form-control" readonly>
    </div>
    <div>
        <label for="memberName">회원이름</label>
        <input th:value="${member.name}"
               type="text" id="memberName" name="name" class="form-control" readonly>
    </div>
    <div>
        <label for="memberId">회원ID</label>
        <input th:value="${member.id}"
               type="text" id="memberId" name="id" class="form-control" readonly>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{|/members/${member.id}/edit|}'|" type="button">회원 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{|/members/${member.id}/delete|}'|" type="button">회원 삭제
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/members}'|" type="button">목록으로
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>