<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>
    <button class="w-25 btn btn-secondary btn-lg"
            th:onclick="|location.href='@{/join}'|" type="button">회원가입
    </button>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>ID</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a th:href="@{|/members/${member.sequence}|}" th:text="${member.sequence}"></a></td>
                <td><a th:href="@{|/members/${member.sequence}|}" th:text="${member.id}"></a></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>